<html>

<head>
<link rel="stylesheet" href="./css/styles.css">
<title>404</title>
</script>
</head>
<body>
     <div class="main-content">
    {{>header}}
    {{errorMessage}}
    </div>
  {{>footer}}
</body>
</html>